:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--accent-color: #e74c3c;
	--light-gray: #ecf0f1;
	--medium-gray: #bdc3c7;
	--dark-gray: #2c3e50;
	max-width: 1466px;
}

/* body {
	margin: 2rem;
	background-color: #dcd9d4;
} */

html {
	font-size: 16px;
}
.message-container {
	display: flex;
	margin: 10px 0;
}

.user-message {
	justify-content: flex-start;
}

.assistant-message {
	justify-content: flex-end;
}

.my-msg {
	background-color: #d1e7dd;
	padding: 10px;
	border-radius: 10px;
	max-width: 60%;
}

.asst-msg {
	background-color: #f8d7da;
	padding: 10px;
	border-radius: 10px;
	max-width: 60%;
}

.saved-recipes-container {
	display: flex;
	gap: 30px;
	margin: 10px;
}

.single-container {
	border: solid 2px orange;
	padding: 10px;
}

.flex-container-to-block-tags {
	display: flex;
	flex-direction: column;
}
